In [56]:
import pandas as pd
import numpy as np
from COGCCpy import production

In [71]:
df = pd.read_csv("../data/inputs/Las available.csv")

In [72]:
df.head()

,api10,DocName,DocUrl,Start,Stop,Step,Step Units,Number of Curves,CurveNameArr
0,507107019,LAS-DENSITY,http://ogccweblink.state.co.us/DownloadDocumen...,387.10,1748.00,0.10,FT,7,"['DEPT', 'DCAL', 'RHOB', 'RHOC', 'DPOR', 'GR',..."
1,507107556,LAS-DENSITY/NEUTRON,http://ogccweblink.state.co.us/DownloadDocumen...,130.00,1766.90,0.10,FT,7,"['DEPT', 'DCAL', 'RHOB', 'RHOC', 'DPOR', 'GR',..."
2,507107556,LAS-DUAL INDUCTION,http://ogccweblink.state.co.us/DownloadDocumen...,115.00,1768.25,0.25,FT,6,"['DEPT', 'SP', 'RILD', 'RILM', 'RLL3', 'GR']"
3,507107724,LAS-GAMMA RAY,http://ogccweblink.state.co.us/DownloadDocumen...,660.80,2375.10,0.10,FT,7,"['DEPT', 'DCAL', 'RHOB', 'RHOC', 'DPOR', 'GR',..."
4,507107724,LAS-CEMENT BOND,http://ogccweblink.state.co.us/DownloadDocumen...,-2.75,2139.25,0.25,FT,5,"['DEPT', 'CCL', 'TT3', 'AMP3', 'GR']"

In [73]:
#df['ID'].astype(str).str.zfill(15) 
df['api10'] = df['api10'].astype(str).str.zfill(10)
#df['api10'] = df['api10'].astype(str)
df.head()

,api10,DocName,DocUrl,Start,Stop,Step,Step Units,Number of Curves,CurveNameArr
0,0507107019,LAS-DENSITY,http://ogccweblink.state.co.us/DownloadDocumen...,387.10,1748.00,0.10,FT,7,"['DEPT', 'DCAL', 'RHOB', 'RHOC', 'DPOR', 'GR',..."
1,0507107556,LAS-DENSITY/NEUTRON,http://ogccweblink.state.co.us/DownloadDocumen...,130.00,1766.90,0.10,FT,7,"['DEPT', 'DCAL', 'RHOB', 'RHOC', 'DPOR', 'GR',..."
2,0507107556,LAS-DUAL INDUCTION,http://ogccweblink.state.co.us/DownloadDocumen...,115.00,1768.25,0.25,FT,6,"['DEPT', 'SP', 'RILD', 'RILM', 'RLL3', 'GR']"
3,0507107724,LAS-GAMMA RAY,http://ogccweblink.state.co.us/DownloadDocumen...,660.80,2375.10,0.10,FT,7,"['DEPT', 'DCAL', 'RHOB', 'RHOC', 'DPOR', 'GR',..."
4,0507107724,LAS-CEMENT BOND,http://ogccweblink.state.co.us/DownloadDocumen...,-2.75,2139.25,0.25,FT,5,"['DEPT', 'CCL', 'TT3', 'AMP3', 'GR']"

In [78]:
#apis = ['507107019','507107556']
apis = (df.api10.values)
type(apis)

numpy.ndarray

In [79]:
prod = production(apis)

In [86]:
Raton_prod = prod.df

In [93]:
print(Raton_prod.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 457623 entries, 0 to 457622
Data columns (total 26 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   API_Label              457623 non-null  object
 1   First of Month         457623 non-null  datetime64[ns]
 2   Days Produced          457623 non-null  int64
 3   Well Status            457623 non-null  object
 4   API County             457623 non-null  object
 5   API Sequence           457623 non-null  object
 6   API Sidetrack          457623 non-null  object
 7   Formation              457623 non-null  object
 8   BOM Inventory          457623 non-null  int64
 9   Oil Produced           457623 non-null  int64
 10  Oil Sold               457623 non-null  int64
 11  Oil Adjustment         457623 non-null  int64
 12  EOM Inventory          457623 non-null  int64
 13  Oil Gravity            457623 non-null  int64
 14  Gas Produced           457623 non-null  int64
 15  Gas Flared             457623 non-null  int64
 16  Gas Used               457623 non-null  int64
 17  Gas Shrinkage          0 non-null       float64
 18  Gas Sold               457623 non-null  int64
 19  Gas BTU                412651 non-null  float64
 20  Gas Tubing Pressure    436 non-null     float64
 21  Gas Casing Pressure    290 non-null     float64
 22  Water Volume           457623 non-null  int64
 23  Water Tubing Pressure  91053 non-null   float64
 24  Water Casing Pressure  90944 non-null   float64
 25  Water Disp Code        342205 non-null  object
dtypes: datetime64[ns](1), float64(6), int64(12), object(7)
memory usage: 90.8+ MB
None

In [94]:
len(Raton_prod.API_Label.unique())

750

In [90]:
#Raton_prod.to_csv('../data/outputs/Raton_production.csv') #Caution: Heavy file for Github